body {
  margin: 20px;
}

.alert-box {
  width: 300px;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 20px;
  overflow: hidden;
  background-color: white;
}
.alert-header {
  background-color: #ffc100;
  margin: 0;
  padding: 15px;
}
.alert-button {
  margin: 15px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #c1c3c3;
  border-radius: 4px;
}
.alert-button:hover {
  background-color: #737f87;
}